#whatfa-console {
    position:fixed;
    bottom:0px;
    left:5px;
    z-index: 9999;
    width: 500px;
    border: 1px solid black;
    text-align: left;
    opacity: 0.90;
}
 
#whatfa-console-content {
  background-color: black;
  overflow: auto;
  height: 250px;
  color: white;
  display: none;
  font-family: Monospace;
  font-size: 11px;
  padding: 5px;
}

#whatfa-console-content p {
 margin-top:0px;
 margin-left:0px;
 margin-right:0px;
 margin-bottom:5px;
}

#whatfa-console-header {
  background-color: #009900;
  color: #003300;
  font-weight: bold;
  padding: 2px;
  font-size: 14px;
  cursor: pointer;
}
